[requires]
python_version = "3.6"

[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
Flask = "==0.12.2"
gunicorn = "==19.7.1"
Pillow = "==4.3.0"
pymongo = "==3.5.1"
pytz = "==2017.2"
requests = "==2.18.4"
Scrapy = "==1.4.0"
pylibmc = "==1.5.2"
