[requires]
python_version = "3.6"

[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
Flask = "==1.0.2"
gunicorn = "==19.9.0"
Pillow = "==6.2.0"
pymongo = "==3.7.1"
pytz = "==2018.5"
requests = "==2.19.1"
Scrapy = "==1.5.1"
pylibmc = "==1.5.2"
