<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tracking status.pr</title>

    <meta property="og:title" content="Tracking status.pr">
    <meta property="og:description" content="This tool scrapes status.pr every hour and keeps tracks of changing metrics in order to help visualize and measure progress.">
    <meta property="og:image" content="{{ url_for('static', filename='share.png', _external=True) }}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.18/c3.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css', t=config.version) }}">
  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card text-center my-2">
            <div class="card-body">
              <h1 class="card-title">Tracking status.pr</h1>
              <p class="card-text">This tool scrapes <a target="_blank" href="http://status.pr/">status.pr</a> every hour and keeps tracks of changing metrics in order to help visualize and measure progress. Data is also made available in CSV and JSON formats.</p>
              <a class="header-link" target="_blank" href="https://github.com/jpadilla/tracking-status-pr"><img src="{{ url_for('static', filename='github-logo.png', t=config.version) }}" width="16" height="16" style="margin:-3px -3px 0 0"> Source code on GitHub</a>
              <a class="header-link" target="_blank" href="https://github.com/SoPR/maria-tech-brigade-effort"><img src="{{ url_for('static', filename='favicon.ico', t=config.version) }}" width="16" height="16" style="margin:-3px -3px 0 0"> Maria Tech Brigade</a>
            </div>
          </div>
        </div>
      </div>
      {% for stat in stats %}
        <div class="row">
          <div class="col">
            <div id="{{ stat.slug }}" class="card text-center my-2">
              <h4 class="card-header">
                <a href="{{ url_for('stat_details', stat=stat.slug) }}">{{ stat.label }}</a>
              </h4>
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <div id="chart-{{ stat.slug }}" class="chart"></div>
                  </div>
                  <div class="col-sm-12 col-md-5 align-self-center">
                    <h1 class="display-3 last-value">{{ stat.last_value }}</h1>
                  </div>
                </div>
                <a target="_blank" href="{{ url_for('stats_json', stat=stat.slug) }}" class="card-link">JSON</a>
                <a target="_blank" href="{{ url_for('stats_csv', stat=stat.slug) }}" class="card-link">CSV</a>
                <a target="_blank" href="#" class="card-link" data-toggle="modal" data-target="#modal-{{ stat.slug }}">Embed</a>
                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ url_for('stat_details', stat=stat.slug, _external=True) }}">FB</a>
                <a target="_blank" href="https://twitter.com/intent/tweet?text={{ url_for('stat_details', stat=stat.slug, _external=True) }}">Twitter</a>
                <div class="modal fade" id="modal-{{ stat.slug }}" tabindex="-1">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Embed</h5>
                        <button type="button" class="close" data-dismiss="modal">
                          <span>&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="container-fluid">
                          <div class="row">
                            <div class="col">
                                <p>You can add this embed to your website by copying and pasting the HTML code below.</p>
                                <form>
                                  <div class="form-group">
                                      <input type="text" class="form-control" value='&lt;script src="{{ url_for('embed_js', _external=True) }}" data-stat="{{ stat.slug }}"&gt;&lt;/script&gt;' onClick="this.setSelectionRange(0, this.value.length)">
                                  </div>
                                </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      <div class="row">
        <div class="col">
          <footer class="my-2 text-center">
            <p><small class="text-muted">This website is open-source and not affiliated to the Government of Puerto Rico or status.pr.</small></p>
            <p><small class="text-muted">Built by <a href="http://jpadilla.com">José Padilla</a></small></p>
          </footer>
        </div>
      </div>
    </div>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.18/c3.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js', t=config.version) }}"></script>

    <script>
      var stats = {{ stats|tojson }};
      for (var stat of stats) {
        generateChart(stat);
      }
    </script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-37217294-7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-37217294-7');
    </script>
  </body>
</html>
